.conversation {
  background-color: #e2e2e2;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.conversation span {
  background-color: #c6cacd;
  display: block;
  border-radius: 10px;
  color: #9241c8;
  font-size: 10px;
  width: 20em;
  margin-top: 1.5vh;
  margin-left: 1.5vw;
  padding: 2vh 2vw 2vh 2vw;
}

.conversation .images {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  background-color: #e2e2e2;
}

.conversation .images img {
  width: 6vh;
  border-radius: 10px;
  margin-left: 2vw;
  margin-top: 1.5vh;
  margin-right: 2vw;
}

.conversation p {
  background-color: white;
  border-radius: 3vw;
  padding-top: 1vh;
  padding-left: 3vw;
  width: 45vw;
  margin-top: 3vw;
  margin-left: 30vw;
  font-size: 10px;
  padding-bottom: 3vh;
  color: #a39daa;
}

.conversation p:last-child {
  width: 30vw;
  margin-left: 15vw;
}

.conversation .prices {
  background: -webkit-gradient(linear, left top, right top, color-stop(34%, #c960bf), to(#7c19be));
  background: linear-gradient(90deg, #c960bf 34%, #7c19be 100%);
  border-radius: 10px;
  padding-top: 2vh;
  padding-left: 2vw;
  width: 40vw;
  margin-top: 2vh;
  font-size: 10px;
  color: white;
  margin-left: 2vw;
  padding-bottom: 2vh;
}

.message {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.message input {
  background-color: white;
  font-size: 10px;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  padding: 3vh 3vw 3vh 3vw;
  margin-left: 2em;
  margin-top: 3.7em;
  width: 90vw;
  margin-bottom: 2.9em;
}

.message button {
  background-color: white;
  margin-top: 2.3em;
  margin-right: 1em;
  margin-bottom: 1.8em;
  width: 10em;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}

.message button i {
  background-color: white;
  width: 1.5vw;
}

footer {
  width: 95vw;
}

footer h4 {
  font-size: 32px;
  margin-left: 10vw;
  margin-top: 10vh;
  font-weight: 500;
  text-align: center;
}

footer p {
  margin-left: 15vw;
  margin-top: 2vh;
  margin-bottom: 15vh;
  color: gray;
  text-align: center;
  width: 75vw;
  font-size: 14px;
  letter-spacing: 1px;
}

.grid-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 15% 85%;
      grid-template-columns: 15% 85%;
  -ms-grid-rows: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
  gap: 5% 0px;
      grid-template-areas: "img h1 h1" "img p p";
  background: -webkit-gradient(linear, left top, right top, color-stop(34%, #7c19be), to(#da2bc9));
  background: linear-gradient(90deg, #7c19be 34%, #da2bc9 100%);
  color: white;
  padding-left: 8vw;
  padding-top: 13vh;
  padding-bottom: 3vh;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
}

.grid-container .celular-top {
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  left: 33vw;
  width: 35vw;
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 15px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  top: 23vh;
  height: 4vh;
}

.grid-container img {
  width: 10vw;
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  grid-area: img;
  border-radius: 100px;
  border-color: white;
  border-width: 2px;
  border-style: solid;
}

.grid-container h1 {
  font-weight: 700;
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-area: h1;
  margin-left: 3vw;
  background: none;
}

.grid-container p {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-area: p;
  font-weight: 400;
  margin-left: 3vw;
  font-size: 12px;
  background: none;
}

@media screen and (min-width: 668px) {
  body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    background: none;
    width: 100%;
    max-height: 1200px;
  }
  body .mobile {
    width: 50%;
    height: 110%;
    margin-bottom: 10vh;
    margin-top: 10vh;
  }
  body .mobile .grid-container img {
    width: 100%;
  }
  body .mobile .grid-container .celular-top {
    width: 20%;
    height: 5%;
    left: 16em;
    top: 5em;
  }
  body .mobile .conversation {
    height: 65%;
  }
  body .mobile .conversation .images img {
    width: 10%;
    margin: 3%;
  }
  body .mobile .conversation p {
    width: 100%;
    margin-top: 3%;
    font-size: 0.7em;
  }
  body .mobile .conversation span {
    font-size: 0.7em;
    padding-top: 2px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  body .mobile .conversation .message-first {
    width: 35%;
  }
  body .mobile .prices {
    width: 50%;
  }
  body footer {
    width: 50%;
    margin-top: 40vh;
    margin-left: 10vw;
  }
  body footer h4 {
    margin: auto;
  }
}

.mobile {
  margin-top: 22vh;
  margin-left: 8vw;
  border-color: white;
  border-style: solid;
  border-width: 2vh;
  border-radius: 37px;
  width: 85vw;
  background-color: #e2e2e2;
}

* {
  border: 0;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 16px;
  font-family: 'Rubik', sans-serif;
  font-weight: normal;
  max-height: 750vh;
}

body {
  background: url(./images/method-draw-image.svg) no-repeat;
  background-size: 120%;
}
/*# sourceMappingURL=styles.css.map */