@import './_partials/conversation', './_partials/_message', './_partials/footer', './_partials/grid-container','./_partials/media','./_partials/mobile', './_partials/text', './_partials/colors';

* {
    border: 0;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
    font-family: 'Rubik', sans-serif;
    font-weight: normal;
    max-height: 750vh;
}

body {
    background: url(./images/method-draw-image.svg) no-repeat;
    background-size: 100%;
}

// .attribution { font-size: 11px; text-align: center; }
// .attribution a { color: hsl(228, 45%, 44%); }