$colorPaleViolet: hsl(276, 100%, 81%);
$colorViolet: hsl(276, 55%, 52%);
$colorDarkViolet: hsl(271, 15%, 43%);
$colorGrayishBlue:hsl(206, 6%, 79%);
$colorVeryDarkViolet: hsl(271, 36%, 24%);
$colorDarkGrayish: hsl(270, 7%, 64%);
$colorMagenta: hsl(293, 100%, 63%);
$lightViolet:  hsl(264, 100%, 61%);
$colorWhite: hsl(0, 0%, 100%)