@import './colors';

.grid-container {
    display: grid;
    grid-template-columns: 15% 85%;
    grid-template-rows: 1fr 1fr;
    gap: 5% 0px;
    grid-template-areas:
      "img h1 h1"
      "img p p";
    background: linear-gradient(90deg, rgba(124,25,190,1) 34%, rgba(218,43,201,1) 100%);
    color: $colorWhite;
    padding-left: 8vw;
    padding-top: 13vh;
    padding-bottom: 3vh;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
    .celular-top{
        background-color: $colorWhite;
        display: flex;
        position: absolute;
        left: 33vw;
        width: 35vw;
        border-bottom-right-radius: 15px;
        border-bottom-left-radius: 15px;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        top: 23vh;
        height: 4vh;
    }
    img {
    width: 10vw;  
    grid-area: img;
    border-radius: 100px;
    border-color: $colorWhite;
    border-width: 2px;
    border-style: solid;
        }
  h1 {
    font-weight: 700;
    grid-area: h1;
    margin-left: 3vw;
    background: none;
        }
  p { 
    grid-area: p;
    font-weight: 400;
    margin-left: 3vw;
    font-size: 12px;
    background: none;
}
}