.message {
    display: flex;
    flex-direction: row;
    input {
    background-color: $colorWhite;
    font-size: 10px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    padding: 3vh 3vw 3vh 3vw;
    margin-left: 2em;
    margin-top: 3.7em;
    width: 90vw;
    margin-bottom: 2.9em;
}
    button {
        background-color: $colorWhite;
        margin-top: 2.3em;
        margin-right: 1em;
        margin-bottom: 1.8em;
        width: 10em;
        border-top-right-radius: 15px;
        border-bottom-right-radius: 15px; 
        i {
            background-color: $colorWhite;
            width: 1.5vw;

        }      
    }
}