@import './colors';

.mobile {
    margin-top: 22vh;
    margin-left: 8vw;
    border-color: $colorWhite;
    border-style: solid;
    border-width: 2vh;
    border-radius: 37px;
    width: 85vw;
    background-color: #e2e2e2;
}